html,
body,
#root {
    height: 100%;
}
.expand {
    animation: expand 0.5s ease-in-out forwards;
}
.expand_reverse {
    animation: expand_reverse 0.5s ease-in-out forwards;
}
@keyframes expand {
    from {
        border-bottom-left-radius: 100%;
        width: 100px;
        height: 100px;
    }
    to {
        border-bottom-left-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes expand_reverse {
    from {
        border-bottom-left-radius: 0;
        width: 100%;
        height: 100%;
    }
    to {
        border-bottom-left-radius: 100%;
        width: 100px;
        height: 100px;
    }
}
